body {
  background-color: powderblue;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: xx-large;
  color: white;
  transform: translate(-50%, -50%);
}

.banner {
  position: relative;
  text-align: center;
  max-height: 40%; 
  max-width: 100%;
}

#bannerimg {
  filter: brightness(75%);
  height: 25vw;
  width: 98vw;
  object-fit: fill;
}

#persuasion{
    max-width: fit-content;
    max-height: 100%;
}

.circle {
  border: 2px solid gray;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
}

#pic1 {
  height: 30vw; 
  width: 30vw;
  margin: 10vw;

}

#pic1img {
  height: 30vw; 
  width: 30vw;
}

#fact1 {
  position: absolute;
  font-size: xx-large;
  color: grey;
  width: 30vw;
  transform: translate(50vw, 12vw);
}

h1 {
  text-align: center;
}

#score{
  text-align: center;
  font-size: large;
}

#button { 
  cursor: pointer;
  position: absolute; 
  top: 0px; 
  left: 0px; 
  transition: all 100ms;
}